@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700');

$font-family-primary: "Maven Pro", sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-boldest: 700;

@mixin font-normal(){
    // font-family: 'Maven Pro', sans-serif;
    font-family: $font-family-primary;
    // font-weight: 400;
    font-weight: $font-weight-normal;
}

@mixin font-medium(){
    // font-family: 'Maven Pro', sans-serif;
    font-family: $font-family-primary;
    // font-weight: 500;
    font-weight: $font-weight-bold;
}

@mixin font-bold(){
    // font-family: 'Maven Pro', sans-serif;
    font-family: $font-family-primary;
    // font-weight: 700;
    font-weight: $font-weight-boldest;
}

body, div, .pure-g, [class*=pure-u] {
    @include font-normal()
}