@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700");
body, div, .pure-g, [class*=pure-u] {
  font-family: "Maven Pro", sans-serif;
  font-weight: 400; }

/*# sourceMappingURL=app.css.map */
