body {
  background-color: #121A20;
  padding-top: 30px
}

.header {
  /* background-color: #121A20; */
  color: #ACACAE;
  text-transform: uppercase;
  padding: 0px 30px 0px 30px;
  margin-bottom: 4px;
}

.header .title {
  color: #ACACAE;
  /* font-family: "Maven Pro"; */
  font-size: 12px;
  font-weight: bold;	
  line-height: 15px;
}

.header .hr {
  background-color: #D8D8D8;
  width: 10px;
  height: 2px;

  margin: 0px 0px 4px 0px;
}

.funnel {
  /* background-color: #121A20; */
  padding: 0px 30px 0px 30px;
}
circle {
   fill: none;
}

/* SASS would really help here */
.active.leaf.paid circle {
  fill: #D5573B;
}

.active.leaf.social circle {
  fill: #885053;
}

.active.leaf.oim circle {
  fill: #777DA7;
}

.active.leaf.content circle {
  fill:#94C9A9;
}

.active.leaf.seo circle {
  fill: #C6ECAE;
}

.leaf text {
  font: 10px sans-serif;
  text-anchor: middle;
  /* fill-opacity: 1; */
  color: none;
}

.awareness {
  background-color: #1E272C;
}

.consideration {
  background-color: #2A3137;
}

.conversion {
  background-color: #353D40;
}

.loyalty {
  background-color: #41494C;
}

.media { 
  border-bottom: 1px solid #E6E6E6;
}  

.legend {
  /* background-color: #121A20; */
  color: #FFFFFF;
  padding: 0px 30px 0px 30px;
}

/* Legend */
.legend .legend-item {
  cursor: pointer;
  padding: 15px 0px 15px 10px;
}

.legend .legend-icon {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  /* background-color: #FFFFFF; */
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  min-height: 13px;
  min-width: 13px;
  vertical-align: middle;
}

.legend .legend-brand {
  text-transform: uppercase;
}